p{
    background-color: bisque;/*tag or element selector*/

}
#para{
    background-color: aqua;/* id selector*/
}
.para{
    background-color: blue;/*class selector*/
}
*{
    background-color: red;/* universal selector*/
}
h1,h2{
    background-color: bisque;/* group selector*/
}